a {
  text-decoration: none;
  color: white;
  cursor: default;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto
}

.colortest {
  background: #A8EAC0;
}

